.logo {
    text-align: center;
}

.update-box {
    background-color: rgba(128, 128, 128, 0.2);
    padding: 2px;
    border-radius: 2%;
    overflow: hidden;
}

.update-title {
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    text-align: start;
    margin-left: 20px;
    /* margin-top: 5px; */
    overflow: hidden;
}

.update-date {
    margin-right: 20px;
}

.update-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.update-content {
    /* margin-top: -30px; */
    display: none;
    color: rgba(128, 128, 128, 0.9);
    margin-left: 30px;
    overflow-x: hidden;
}

.close {
    font-size: 15px;
    justify-content: end;
    display: flex;
    padding: 10px;
}
.closeButtonStyle{
    text-decoration: none;
    color: white;
    
}

.modalDonate{
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.50); 
    background-color: rgb(6, 91, 6);
    color: white;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
    position: fixed;
    z-index: 1; 
    left: 10px;
    top: 3;
    width: 200px;
    height: auto;
    overflow: hidden; 
}

.modalText{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dynamicTitle { 
    margin-bottom: -5px;
    margin-top: -5px;
    padding: 10px;
}